{% extends "my_first_app/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li class="active"><a href="{% url 'lfhazard:documentation' %}">Documentation</a></li>
{% endblock %}

{% block app_content %}
  <p>
    Liquefaction is loose soil that has been saturated with water that
behaves like a liquid when disturbed by an earthquake. This can cause
many problems to structures. To assist geotechnical engineer in
identifying hazardous liquefaction areas, this app has been developed.
This app provides hazardous liquefaction values include: Triggering,
Lat Spread, Solid Surface Displacement, and Settlement. Values have
been calculated by using the kriging or Gaussian process regression.
  </p>
{% endblock %}

{% block app_actions %}
  <a href="{% url 'lfhazard:home' %}" class="btn btn-default">Back</a>
{% endblock %}